// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,900&display=swap');

body {
	font-family: $sans-font;
}

h1,
h2,
h3 {
	font-family: $serif-font;
	font-weight: 900;
}

// Header Area
.header {
	.header-headline {
		h3 {
			font-size: 1rem;
		}
	}
}

// Navigation
.navbar-dark .navbar-toggler {
	background-color: $primary;
	border: 1px solid $white;
	border-color: $white;
	margin-left: 15px;
}

.navbar-dark .navbar-toggler {
	color: black;
}

.navbar-brand {
	margin-right: 0;
}

#navbarNavDropdown.col-10 {
	padding-left: 0;
	padding-right: 0;
}

.navbar-expand-md .navbar-nav .nav-link,
.navbar-nav .dropdown {
	color: $white;
	font-family: $sans-font;
	font-size: 1rem;
	text-transform: uppercase;

	@media (max-width: 1300px) {
		font-size: .75rem;
	}

	@media (max-width: 1000px) {
		font-size: .65rem;
	}

	@media (max-width: 767px) {
		font-size: 1rem;
	}

	&:hover {
		color: darken($primary, 25%);
	}

	&:active,
	&focus {
		color: lighten($primary, 25%);
		text-decoration: underline;
	}
}

// Mobile Sub Nav Styles
.dropdown-menu {
	font-size: .90rem;
	color: $white;
	text-align: left;
	list-style: none;
	background-color: lighten($primary, 10%);
	background-clip: padding-box;
	border: transparent;
	border-radius: 0;

	.dropdown-item {
		display: block;
		width: 100%;
		padding: .25rem 1.5rem;
		clear: both;
		font-weight: 400;
		color: $white;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
	}
}

.header-nav {
	@media (max-width: 890px) {
		padding-left: 5px;
		padding-right: 5px;
	}
}

#main-nav {
	background-color: $primary;
	margin: 0 auto;
	padding: 8px 0;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
	color: lighten($primary, 15%);
	text-decoration: underline;
}

.bli-message {
	padding-left: 0;
	padding-right: 0;

	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.official-bli-message {
	padding: 20px 0;
	text-align: center;

	h2 {
		font-size: 1.4rem;
	}
}

// Mobile Nav
#navbarNavDropdown {
	@media (min-width: 768px) and (max-width: 900px) {
		padding-left: 5px;
		padding-right: 5px;
		.navbar-nav {

			li {
				max-width: 17%;
				white-space: normal;

				a {
					white-space: inherit;
				}
			}

			li:nth-of-type(1),
			li:nth-of-type(4),
			li:nth-of-type(5) {
				max-width: 10%;
			}

			li:nth-of-type(2) {
				max-width: 24%;
			}

			li:nth-of-type(8) {
				max-width: 16%;
			}
		}
	}
}

// Footer
#wrapper-footer-full {
	background-image: url('../img/footer-bg.jpg');
	background-size: cover;

	#footer-full-content {
		background-color: rgba( 255, 255, 255, 0.5);

		.footer-widget {
			padding: 15px;
		}
	}
}

#wrapper-footer {
	background-color: $black;
	color: $white;
	padding: 30px 0 0 0;
	text-align: center;

	.bli-full-width {
		margin-bottom: 40px;
	}

	.site-info {
		color: $aluminum;
		font-size: .75rem;
		margin-top: 15px;

		a {
			color: darken($aluminum, 10%);
		}
	}
}

// Page Default
.hero-area {
	background-image: url("../img/default-featured-img.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	text-align: center;

	.row {
		.title-container {
			background-color: rgba(255, 255, 255, 0.85);
			margin-top: 90px;
			margin-left: auto;
			margin-right: auto;
			padding: 15px;
		}
	}
}


// Google Map for Places
.acf-map {
	width: 100%;
	height: 300px;
	border: 0;
	border-bottom: 5px solid $primary;
	margin: 20px 0;
}

// Media Queries
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 0;
		padding-left: .5rem;
	}

	.navbar {
		padding: 0;
	}

	.navbar-collapse {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.navbar {
		padding: 0;
	}
}

// Logo Size
@media (max-width: 540px) {
	.navbar-dark .navbar-brand {
		flex:  0 0 35%;
		width: 35%;
		max-width: 35%;
	}

	.header-headline {
		flex:  0 0 65%;
		width: 65%;
		max-width: 65%;
	}
}

// Partials
@import "slick_slider";
@import "home_page";
@import "archive";
@import "single";
